<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div id="search-bar" class="search-container" *ngIf="!showPreSearchBar();else default_header">
      <button mat-button class="search-icon" aria-label="Search mode" (click)="startSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field class="full-width">
        <input matInput type="text" required (input)="onSearchBarTextChanged($event)">
      </mat-form-field>
      <button mat-button class="exit-icon" aria-label="Exit search mode" (click)="endSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
<app-search-results *ngIf="searchResults && searchResults.length > 0" [dataSource]="searchResults" [pageIndex]="currentPage"></app-search-results>

<ng-template #default_header>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button class="search-icon" aria-label="Search Icon" (click)="initiateSearch()">
    <mat-icon>search</mat-icon>
  </button>
</ng-template>
